.paginationmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10% 0 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    
}
.pagediv{
    width: 200px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-between ;
}

.arrow{
    font-size: 30px;
    cursor: pointer;
}
.arrow:hover{
    background-color: gray;
    border-radius: 50%;
    color: white;
}