.navbar{
    background:red;
}
.navbar > ul >li{
    position: relative;
    float: left;
}
.navbar >ul {
    list-style: none;
}
.navbar > ul >li>a{
    font-size:18px;
    padding:10px 15px;
    color:#000;
    text-decoration: none;
    display: block;
}
.navbar > ul >li>a:hover{
background-color: #253137;
  color: #fff;

}

.navbar >ul >li>ul>li{
    position: absolute;
    background-color: #fff;
    display: block;

}


@media only screen and (min-width:1200px) {
    .barIcon{
        display: none;
       
    }
    .imglogo{
        width: 100%;
    }
    
}

.navitems{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    /* justify-content: space-between; */

}
.navbarlinks{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

@media only screen and (max-width:640px) {
    /* .barIcon{
        display: flex;
       
    } */
    
    .barListDiv a{
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }
    .crossIcon{
        color: white !important;
        background-color: black;
        padding: 3px;
    }
    .navbarlinks{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: none;
        
    }
    .imglogo{
        width: 100%;
    }
    .navitems{
        display: flex;
        flex-direction: row;
    }
    .socialmedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: black;
    }
    .secondnavbar{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.barDiv{
    padding-top: 12%;
    width: 250px;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding-left: 10px;
    /* padding-top: 10%; */
    /* padding-left: 5%; */
    overflow-y: scroll;
    /* justify-items: center; */
    color: black;
    font-size: 20px;
    overflow-x: hidden;
    
    
}
.barListdiv a{
    text-decoration: none;
}
.barList{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

}
/* .barListdiv{
   padding: 5%;

} */

.crossIcon{
    position: absolute;
    top: 6px;
    right: 8px;
    color: black;

}
.navitem{
    cursor: pointer;
    color: black;
}

.secondnavbar{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.secondnavbar{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:1120px) {
    .barListDiv a{
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }
    .crossIcon{
        color: white !important;
        background-color: black;
        padding: 3px;
    }
    .navbarlinks{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: none;
        
    }
    .imglogo{
        width: 100%;
    }
    .navitems{
        display: flex;
        flex-direction: row;
    }
    .socialmedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: black;
    }
    .secondnavbar{
        margin-bottom: 10px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

}