.navbar {
    background: red;
}

.secondnavbar {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 4px 0 8px 0;
    /* background-color:#245557; */
    opacity: 0.9;
}

.navbar>ul>li {
    position: relative;
    float: left;

}

.navbar>ul {
    list-style: none;
}

.navbar>ul>li>a {
    font-size: 18px;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.navbar>ul>li>a:hover {
    background-color: #253137;
    color: #fff;

}

.navbar>ul>li>ul>li {
    position: absolute;
    background-color: #fff;
    display: block;

}

.barIcon {
    display: none;
}

@media only screen and (max-width:1200px) {
    .barIcon {
        display: none;

    }

    .imglogo {
        width: 100%;
        cursor: pointer;
    }

}

.navitems {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    /* justify-content: space-between; */

}

.navbarlinks {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;


}

.navbarlinks>div {
    margin: 6px;
}



@media only screen and (max-width:768px) {
    .barIcon {
        display: block;
        cursor: pointer;

    }

    .navbarlinks {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: none;

    }

    .imglogo {
        width: 100%;
        cursor: pointer;
    }
}

@media only screen and (max-width:640px) {
    /* .barIcon{
        display: flex;
       
    } */

    .barListDiv a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }

    .crossIcon {
        color: white !important;
        background-color: black;
        padding: 3px;
    }




    .imglogo {
        width: 100%;
        cursor: pointer;
    }

    .navitems {
        display: flex;
        flex-direction: row;
    }

    .socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
    }


}

.barDiv {
    padding-top: 12%;
    width: 250px;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding-left: 10px;
    /* padding-top: 10%; */
    /* padding-left: 5%; */
    overflow-y: scroll;
    /* justify-items: center; */
    color: black;
    font-size: 20px;
    overflow-x: hidden;


}

.barListdiv a {
    text-decoration: none;
}

.barList {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

}

/* .barListdiv{
   padding: 5%;

} */

.crossIcon {
    position: absolute;
    top: 6px;
    right: 8px;
    color: black;

}

.navitem {
    cursor: pointer;
    color: black;
    margin-right: 14px;
    font-weight: bold;
}

.secondnavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


/* 
@media only screen and (max-width:1200px) {
    .secondnavbar{
        margin-top: 6px;
    }
    .barListDiv a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }

    .crossIcon {
        color: white !important;
        background-color: black;
        padding: 3px;
    }

    .navbarlinks {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: none;

    }

    .imglogo {
        width: 100%;
    }

    .navitems {
        display: flex;
        flex-direction: row;
    }

    .socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: black;
    }

    .secondnavbar {
        margin-bottom: 10px;
        display: flex;

        align-items: center;
    }

}
 */