.navbar{
    background:red;
}
.navbar > ul >li{
    position: relative;
    float: left;
}
.navbar >ul {
    list-style: none;
}
.navbar > ul >li>a{
    font-size:18px;
    padding:10px 15px;
    color:#000;
    text-decoration: none;
    display: block;
}
.navbar > ul >li>a:hover{
background-color: #253137;
  color: #fff;

}

.navbar >ul >li>ul>li{
    position: absolute;
    background-color: #fff;
    display: block;

}
.imglogo{
    max-width: 100%;
}

@media only screen and (min-width:1200px) {
    .barIcon{
        display: none;
        /* font-size: '40px'; */
       
    }
    
}


@media only screen and (max-width:600px) {
    .barIcon{
        display: block;
       
    }
    
    .barListDiv a{
        text-decoration: none;
        color: black;
    }
    .crossIcon{
        color: white !important;
        background-color: black;
        padding: 3px;
    }
    
}

.barDiv{
    width: 150px;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding-top: 10%;
    padding-left: 5%;
    /* justify-items: center; */
    color: black;
    font-size: 20px;
    
    
}
.barListdiv a{
    text-decoration: none;
}
.barList{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
.barListdiv{
   padding: 5%;

}

.crossIcon{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    /* background-color: red; */
}
.navitem{
    cursor: pointer;
}
