.wrap{
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width:640px) {
    .bitcoincol{
        display: none;
    }
    .barimg{
        width: 100px;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

}


@media only screen and (max-width:768px) {
    .bitcoincol{
        display: none;
    }
    .barimg{
        width: 100px;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

}

@media only screen and (max-width:1024px) {
    .wraprow{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .barimg{
        width: 100px;
    }

}
.wraprow{
    flex-direction: row;
    display: flex;
}

.wrapimg{
    width: 20px;
}

.wrapcol{
    display: flex;
    flex-direction: column;
}

.btcspan{
    color: gray;
}