.newsdetail{
    margin: 5%;

}
.mainad{
    text-align: center;
    margin-left: 60px;
}
.detailparagraph{
    margin-top: 20px;
    width: 100%;
}
.newsdetailrow{
    display: flex;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width:480px) {
    .newsdetailrow{
    flex-wrap: wrap;
    }
    .detailcontent{
        width: 100%;
    } 
    .detailcontentmain{
        overflow-y: scroll;
    }
}

@media only screen and (max-width:1200px) {
    .detailcontent{
        overflow-y: scroll;
    } 
}
