.newswrapcontainer{
    display: flex;
    background-color: #151515;
    color: white;
    width: 100%;

    justify-content: center;
    height: full;
    padding: 3% 3%; 
    margin-bottom: 30px;
}
.newsimagediv{
    height: 500px;
}
.newsimageright{
    height: 220px;
}
@media screen  and (max-width:640px){
    .newswrapcontainer{
        display: flex;
    }
    .newsimagediv{
        height: 250px;
    }

    .wrapcol{
        width: 100%;
    }
    .wrapcol2{
        display: flex;
        flex-direction: row;
    }
    .newsimage{
        height: 200px !important;
    }
    .newsimageright{
        height: 220px;
      
    }
}

