.newswrapcontainer{
    display: flex;
    background-color: #151515;
    color: white;
    width: 100%;
    overflow-x: scroll;
    justify-content: center;
    min-height: 100vh;
    padding: 5% 5%; 
    margin-bottom: 30px;
}
.newsimagediv{
    height: 500px;
}
@media screen  and (max-width:640px){
    .newswrapcontainer{
        display: flex;
    }
    .newsimagediv{
        height: 250px;
    }

    .wrapcol{
        width: 100%;
    }
    .wrapcol2{
        display: flex;
        flex-direction: row;
    }
}

