.footer {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 100%;
    margin-top: 20px;
}

.footerlink {
    margin-top: -50px;
}

.icon {
    display: flex;
    flex-direction: row;
    padding: 3%;
    max-width: 100%;
    margin-top: -40px;
}

.footerlink a {
    display: inline;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: white;
    padding-right: 10px;
}

@media only screen and (max-width:640px) {
    .icon {
        max-width: 80%;
        color: gray;
    }

    .footerimg {
        width: "100%";
        color: "white";
        margin-top: '20px';
    }

    .footerlink a {
        font-size: 13px;
    }

    .icon {
        margin-top: 10px;
    }

    .footerlink {
        margin-top: 5px;
    }

    .forminput input {
        padding: 1px 1px;

    }
}

@media only screen and (max-width:768px) {
    .icon {
        max-width: 80%;
        color: gray;
    }

    .footerimg {
        width: "100%";
        color: "white";
        margin-top: '20px';
    }

    .footerlink a {
        font-size: 13px;
    }

    .icon {
        margin-top: 10px;
    }

    .footerlink {
        margin-top: 5px;
    }

    .forminput input {
        padding: 1px 1px;

    }

    .button {
        font-size: 12px;
    }
}

@media only screen and (max-width:1024px) {
    .icon {
        max-width: 80%;
        color: gray;
    }

    .footerimg {
        width: "100%";
        color: "white";
        /* margin-top:'20px'; */
    }

    .footerlink a {
        font-size: 13px;
    }

    .footerlink {
        margin-top: 5px;
    }

}

.forminput {
    /* margin-top: 25px; */
    display: flex;
}