.searchdiv{
    background-color: white;
    color: black;
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}
.search{
    position: relative;
}
.search input{
    position: absolute;
    padding:30px 30px;
    font-size: 60px;
    color: black;
    /* outline: none; */
    top:100px;
    left: 14%;
    outline: white;
    border: none;
    border-bottom: 1px solid gray;
}

@media only screen and (max-width:800px){
    .search input{
        position: absolute;
        padding:30px 30px;
        font-size: 30px;
        color: black;
        /* outline: none; */
        top:100px;
        left: 14%;
        outline: white;
        border: none;
        border-bottom: 1px solid gray;
    }
}

@media only screen and (max-width:360px){
    .search input{
        position: absolute;
        padding:30px 30px;
        font-size: 20px;
        color: black;
        /* outline: none; */
        top:100px;
        left: 14%;
        outline: white;
        border: none;
        border-bottom: 1px solid gray;
    }
}
.cross{
    position: absolute;
    right: 10px;
    font-size: 25px;
    top:2px;
}