.newscontainer{
    display: flex;
    flex-direction: row;
 
}
.mainnews{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imgdiv >img{
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}
.imgdiv:hover{
    box-shadow: 5px y-offset;
    cursor: 'pointer'; 
}

.textimage{
    position: relative;
    bottom:22px;
    left:0px;
    background-color: red;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 2px;
    font-weight: bold;
}


.mainnewsrow{
    display: flex;
    margin-left: 6% ;
    margin-right: 6%;
    margin-top: 1%;
}
.news{
    display: flex;
    color: white;
    justify-content: center;
    max-height: 100vh;
    
    padding: 5% 5%; 
   
}

@media only screen and (max-width:360px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 100%;
    }
    .imagediv{
        height: 200px;
    }

    .newswrapimgdiv{
        height: 100px;
    }
    .newsimagediv{
        height: 10px;
    }


}

.image{
    height: 100%;
}
.imagediv{
    height: 200px;
}


.newsmain{
    padding: 0 60px 0 60px;
}
.newsimagediv{
    height: 100px;
}
.nwesimage{
    height: 100%;
}

@media only screen and (max-width:1200px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 300px;
    }

    .contenthtmldiv{
      
        overflow-y: scroll;
    }
}



@media only screen and (max-width:868px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 300px;
    }
    .newsmain{
        padding: 0 20px 0 20px;
    }

}

