.newscontainer{
    display: flex;
    flex-direction: row;
    /* max-width: 100%; */
}
.mainnews{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imgdiv >img{
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}
.imgdiv:hover{
    box-shadow: 5px y-offset;
    cursor: 'pointer'; 
}

.textimage{
    position: relative;
    bottom:22px;
    left:0px;
    background-color: red;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 2px;
    font-weight: bold;
}

/* .mainnews{
    min-height:'550px';
} */
.mainnewsrow{
    display: flex;
    margin-left: 6% ;
    margin-right: 6%;
    margin-top: 1%;
}
.news{
    display: flex;
    color: white;
    /* padding: 30px; */
    justify-content: center;
    max-height: 100vh;
    /* align-items: center; */
    padding: 5% 5%; 
    /* margin-bottom: 20px; */
}

@media only screen and (max-width:360px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 300px;
    }

     /* .contenthtmldiv{
        width: 100px;
    } */


}



@media only screen and (max-width:1200px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 300px;
    }

    .contenthtmldiv{
        /* width: 200px; */
        overflow-y: scroll;
    }
}



@media only screen and (max-width:868px){
    .mainnewsrow{
        flex-wrap: wrap;
    }
    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
    }
    .image{
        height: 300px;
    }

}

