.contactform {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10%;
    margin-top: 40px;
    margin-left: 10%;


}

.contactform input {
    padding-left: 10px;
    width: 100%;
    background-color: #F1F1F1;
    border: none;
    padding: 7px 7px;


}

.contact {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.addressmain {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin-top: 3px;
}

.address_row {
    display: flex;

}